@charset 'UTF-8';


*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    color: whitesmoke;
}

header{
    display: flex;
    margin-bottom: 10px;
    background-image: url(../imagens/spotify\ pequeno.png);
    background-position: center center;
    background-size: cover;
    height: 50%;
    width: 50%;
}

header > h1{
      display: none;
}

header > label{
    display: none;
    
}

header > input{
    display: flex;
    position: relative;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.459);
    border: none ;
    width: 100%;
    height: 40px;
    border-radius: 20px ;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

input:hover{
    color: white;
}

::placeholder{
    color: rgba(255, 255, 255, 0.486);
    font-size: 1.3em;
    text-align:justify;
}

main > div.lateral > p#principal {
    background-color: rgba(128, 128, 128, 0.459);
    width:40%;
    padding: 10px;
    border-radius: 20px;
    font-size: small;
    text-align: center;
}



.lateral{
    background-color: rgba(128, 128, 128, 0.459);
    position: absolute;
    display: block;
    padding: 10px;
    width: 45%;
    height: 80vh;
    border-radius: 15px;
    margin-left: 5px;
}

.telaemcima{ 
    background-image: linear-gradient(to top,black, rgba(255, 0, 0, 0.555));
    padding:10px;
    border-radius: 20px;
    width:50vw;
    height: 100vh;
    margin-left:48%;
    display: flex;
    flex-flow: row nowrap;
    
}



.telaemcima > p#aprincipal{
    background-color: white;
    color:black;
    height: 5%;
    width: 100%;
    border-radius: 20px;
    font-size: small;
    text-align: center;
    justify-content: space-around;
    flex: auto;
    margin-bottom: 10px;
    margin-right: 3px;
    overflow: hidden;
    
}

div.cantor{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.021);
    overflow: hidden;
    
}


.cantor > h3{
    display: flex;
    font-size: 1em;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: justify;
    
    
}

.cantor > h3:hover{
    background-color: rgba(255, 255, 255, 0.199);
    
    width: 110px;
    
}

.cantor > img{
  width: 100px;
  
    
    
}

.cantor > img:hover{
    background-color: white;
    width: 50%;


}
